@model MovieDb.Models.Dao.MovieMediaDao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MovieMediaDao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
