@model IEnumerable<MovieDb.Models.Dao.MovieMediaDao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Movie Media</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="ActorMedia" asp-action="">Go to Actor Media</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (item.MediaType=="photo")
                {
                    <td>
                        <img src="@item.Url">
                    </td>
                }
            @if (item.MediaType=="video")
                {
                    <td>
                        <a href="@item.Url">Preview</a>
                    </td>
                }            
            <td>
                @Html.DisplayFor(modelItem => item.MediaType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
