@model MovieDb.Models.Dao.MovieDao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ActorDao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Banner">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MMPARating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MMPARating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
