@using MovieDb.Data.ViewModels
@using MovieDb.Models.Dao
@model PaginatedListViewModel<MovieReviewsDao>


<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="@ViewBag.Banner" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="@ViewBag.Trailer" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@ViewBag.Title         <span>@ViewBag.ReleaseDate.Year</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					@*<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>8.1</span> /10<br>
								<span class="rv">56 Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>*@
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#reviews">Reviews</a></li>                      
							</ul>
						    <div class="tab-content">
						        <div id="reviews" class="tab active">
						           <div class="row" style="margin-left:15px;">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Reviews Of</h3>
						       	 				<h2>@ViewBag.Title</h2>
							            	</div>							            	
						            	</div>
										@foreach (var item in Model.Items)
										{
											<div class="mv-user-review-item">
												<div class="user-infor">													
													<div>
														<h3>@item.Title</h3>
														<div class="no-star">
															@for (int i = 0; i < item.MovieRating; i++)
															{
																<i class="ion-android-star"></i>
															}
															@for (int i = 0; i < (10 - item.MovieRating); i++)
															{
																<i class="ion-android-star last"></i>
															}	
														</div>
														<p class="time">
															@item.CreateDate.Day @item.CreateDate.Month @item.CreateDate.Year
														</p>
													</div>
												</div>
												<p>@item.Review</p>
											</div>
										}
										<div class="topbar-filter">
											<div class="pagination2">
												@if (Model.HasPreviousPage)
												{
													<a asp-controller="Movie" asp-action="AllReviews"  asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="ion-arrow-left-b"></i></a>
												}
												@for (int i = 1; i <= Model.TotalPages; i++)
												{
													<a class="@(i == Model.PageIndex ? "active" : "")"  asp-controller="Movie" asp-action="AllReviews" asp-route-pageNumber="@i">@i</a>
												}
												@if (Model.HasNextPage)
												{
													<a asp-controller="Movie" asp-action="AllReviews" asp-route-pageNumber="@(Model.PageIndex + 1)"><i class="ion-arrow-right-b"></i></a>
												}
											</div>
										</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
