@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using MovieDb.Data.ViewModels
@using System.Security.Claims
@model MovieDetailViewModel

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="@Model.movieDetails.Banner" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="@Model.movieDetails.Trailer" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@Model.movieDetails.Title  <span>@Model.movieDetails.ReleaseDate.Year</span></h1>
					<div class="social-btn">
						<a asp-controller="FavoriteMovies" asp-action="AddFav" asp-route-movieCId="@Model.movieDetails.ContentId" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
					</div>
					@*<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>8.1</span> /10<br>
								<span class="rv">56 Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>*@
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li>                  
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>@Model.movieDetails.Summary</p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image11.jpg"><img src="images/uploads/image1.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image21.jpg"><img src="images/uploads/image2.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image31.jpg"><img src="images/uploads/image3.jpg" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/image4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
												<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
												@foreach (var item in Model.actors)
												{
													<div class="cast-it">
														<div class="cast-left">
															<img src="@item.Banner" alt="">
															<a asp-controller="Actor" asp-action="Details" asp-route-id="@item.Id" >@item.FullName</a>
														</div>
													</div>
												}
												
												
											</div>
											<div class="title-hd-sm">
												<h4>User reviews</h4>
												<a  class="time" asp-controller="Movie" asp-action="AllReviews" asp-route-pageNumber="1" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">See All  Reviews <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie user review -->
											@if (Model.MovieReviews.movieReviews != null && Model.MovieReviews.movieReviews.Count>0)
												{
												<div class="mv-user-review-item">
												
													<h3>@Model.MovieReviews.movieReviews[0].Title</h3>
													<div class="no-star">
														@for (int i = 0; i < @Model.MovieReviews.movieReviews[0].MovieRating; i++)
														{
															<i class="ion-android-star"></i>
														}
														@for (int i = 0; i < (10 - @Model.MovieReviews.movieReviews[0].MovieRating); i++)
														{
															<i class="ion-android-star last"></i>
														}	
													</div>
													<p class="time">
														@Model.MovieReviews.movieReviews[0].CreateDate.Day @Model.MovieReviews.movieReviews[0].CreateDate.Month @Model.MovieReviews.movieReviews[0].CreateDate.Year
													</p>
													<p>@Model.MovieReviews.movieReviews[0].Review</p>												
											</div>
											}
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		@*<div class="sb-it">
						            			<h6>Director: </h6>
						            			<p><a href="#">Joss Whedon</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Writer: </h6>
						            			<p><a href="#">Joss Whedon,</a> <a href="#">Stan Lee</a></p>
						            		</div>*@
						            		@*<div class="sb-it">
						            			<h6>Stars: </h6>
						            			<p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
						            		</div>*@
						            		@*<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
						            		</div>*@
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>@Model.movieDetails.ReleaseDate.Month , @Model.movieDetails.ReleaseDate.Day  @Model.movieDetails.ReleaseDate.Year</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>@Model.movieDetails.RunTime min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>@Model.movieDetails.MMPARating</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            			<p class="tags">
													@foreach (var item in Model.PlotKeys)
													{
														<span class="time"><a href="#">@item</a></span>
													}
						            			</p>
						            		</div>
											<div class="sb-it">
						            			<h6>Genres : </h6>
						            			<p class="tags">
													@if (Model.movieDetails.Genres != null && Model.movieDetails.Genres != "")
													{
														foreach (var item in Model.Genres)
														{
															<span class="time"><a href="#">@item</a></span>
														}
													}													
						            			</p>
						            		</div>
						            		<div class="ads">
												<img src="images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Reviews Of</h3>
						       	 				<h2>@Model.movieDetails.Title</h2>
							            	</div>							            	
						            	</div>
										@if (Model.MovieReviews!= null)
										{
											foreach (var item in Model.MovieReviews.movieReviews)
											{
												<div class="mv-user-review-item">
													<div class="user-infor">
														<div>
															<h3>@item.Title</h3>
															<div class="no-star">
																@for (int i = 0; i < item.MovieRating; i++)
																{
																	<i class="ion-android-star"></i>
																}
																@for (int i = 0; i < (10 - item.MovieRating); i++)
																{
																	<i class="ion-android-star last"></i>
																}
															</div>
															<p class="time">
																@item.CreateDate.Day @item.CreateDate.Month @item.CreateDate.Year
															</p>
														</div>
													</div>
													<p>@item.Review</p>
												</div>
											}
										}										
										@if (SignInManager.IsSignedIn(User)){
											<div class="comment-form">
												<h4 class="blog-detail-ct">Leave a comment</h4>
												<form action="">
													<input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
													<input type="hidden" name="movieCId" value="@Model.movieDetails.ContentId.ToString()">
													<input type="hidden" name="movieId" value="@Model.movieDetails.Id.ToString()">
													<div class="row">
														<div class="col-md-8">
															<input type="text" name="Title" placeholder="Title">
														</div>
														<div class="col-md-4">
															<input type="number" name="MovieRating" min="1" max="10" placeholder="Rating">
														</div>														
													</div>
													<div class="row">
														<div class="col-md-12">
															<textarea name="message" id="" placeholder="Message"></textarea>
														</div>
													</div>
													<input asp-controller="Movie" asp-action="AddReview" class="submit" type="submit" placeholder="submit">
												</form>
											</div>
										}
{										
										
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast of</h3>
					       	 			<h2>@Model.movieDetails.Title</h2>
										<!-- //== -->
					       	 			
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">
											@foreach (var item in Model.actors)
											{
												<div class="cast-it">
													<div class="cast-left">
														<img src="images/uploads/cast1.jpg" alt="">
														<a href="#">@item.FullName</a>
													</div>
												</div>
											}											
										</div>
										<!-- //== -->										
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
								@if (Model.MovieMedia != null)
									{									
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Videos & Photos of</h3>
					       	 					<h2>@Model.movieDetails.Title  </h2>
						            		</div>
						            	</div>										
						            	<div class="title-hd-sm">
											<h4>Videos</h4>
										</div>
										<div class="mvsingle-item media-item">
											@foreach (var item in Model.MovieMedia)
											{
												@if (item.MediaType=="video")
												{
													<div class="vd-item">
														<div class="vd-it">
															<img class="vd-img" src="@item.MovieThumbnail" alt="">
															<a class="fancybox-media hvr-grow" href="@item.Url"><img src="~/images/uploads/play-vd.png" alt=""></a>
														</div>
													<div class="vd-infor">
															<h6> <a class ="fancybox-media hvr-grow" href="@item.Url">@item.Title</a></h6>
													</div>
												</div>
												}
													
											}																					
										</div>
										<div class="title-hd-sm">
											<h4>Photos </h4>
										</div>
										<div class="mvsingle-item">
											@foreach (var item in Model.MovieMedia)
											{
												@if (item.MediaType == "photo")
												{
													<a class="img-lightbox" data-fancybox-group="gallery" href="@item.Url"><img src="@item.Url" alt=""></a>
												}
											}
										</div>
						        	</div>
									}
					       	 	</div>					       	 	
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v16.0" nonce="QXRiC28a"></script>